.container {
  background-color: var(--accent);
  padding: 15px 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
