.container {
  display: flex;
  flex-direction: column;
  /* padding: 0 12.18rem; */
}

.topContainer {
  padding: 3.125rem 12.18rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
}

.colLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.linkHeading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: var(--heading);
}

.linksWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}

.link {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  cursor: pointer;
  color: var(--sub-heading);
}

.linkIconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.copyrightContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 1.56rem 12.18rem;
  width: 100%;
}

.crText {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.icon {
  cursor: pointer;
}

@media (max-width: 1230px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .linksContainer {
    text-align: center;
  }

  .linkHeading {
    width: 100%;
  }

  .link {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .colLinks {
    flex-direction: column;
  }

  .topContainer {
    padding: 3.125rem 6rem;
  }

  .linksContainer {
    text-align: center;
  }

  .linkHeading {
    width: 100%;
    text-align: center;
  }

  .link {
    width: 100%;
    text-align: center;
  }

  .linkIconContainer {
    text-align: center;
    width: 100%;
  }

  .copyrightContainer {
    padding: 1.56rem 7rem;
  }
}

@media (max-width: 660px) {
  .crText {
    font-size: 10px;
  }

  .topContainer {
    padding: 3.125rem 4rem;
  }

  .copyrightContainer {
    padding: 1.56rem 4rem;
  }

  .icons {
    gap: 10px;
  }
}

@media (max-width: 450) {
  .topContainer {
    padding: 2rem 1rem;
  }

  .crText {
    font-size: 7px;
  }

  .copyrightContainer {
    padding: 1.56rem;
  }
}
