:root {
  --bg-light: #fdf3f1;
  --bg-primary: #fff2f3;
  --bg-secondary: #febc94;
  --heading: #252b42;
  --dash: #a01a10;
  --accent: #96ba7b;
  --sub-heading: #737373;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

section {
  height: 100vb;
  max-width: 100vw;
  overflow: hidden;
}
