.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 7rem;
  padding: 7rem 12rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.team {
  font-size: 14px;
  font-weight: 700;
  color: var(--accent);
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.desc {
  font-size: 14px;
  font-weight: 400;
  color: var(--sub-title);
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: 300px;
  width: 100%;
}
